.sidebar {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.aboutMe {
    height: var(--height45);
    padding: 20px;
    text-align: center;
    overflow-y: auto;
    font-family: Heebo, sans-serif;
}

.aboutMe .info {
    text-align: left;
}

.profileImage img {
    width: 150px;
    height: 150px;
    border-radius: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin: 20px auto;
    -webkit-transition: width 1s ease, height 1s ease;
    transition: width 1s ease, height 1s ease;
}

.messageStatus {
    display: flex;
    justify-content: center;
    height: 45px;
    background-color: var(--dark-blue);
}

.messageStatus .status {
    margin-top: 16px;
    color: var(--text-color-second);
}

.admin-contact-list {
    height: calc(100% - 45px);
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;
    padding: 10px 25px;
}

.admin-contact-list .contact {
    border-bottom: 2px solid var(--blue);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color-first);
    border-radius: 3px;
}

.admin-contact-list .contact:hover {
    background-color: var(--blue);
}

.admin-contact-list .contact .info {
    float: left;
}

.admin-contact-list .contact .status {
    float: right;
    font-size: 14px;
}
